@model Pinboard.Models.Bookmark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookmark</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReadLater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReadLater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStarred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStarred)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTagged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTagged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTimeCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTimeCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookmarkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
